body{
  background-color: #6f4e37;
}

.padd{
  padding-top: 30px;
  padding-right: 300px;
  padding-left: 300px;
}
.jumbotron{
  background-color:#be5504;
  color: white;
}

.navbar{
  background-color:#be5504;
  color: white;
}

.navbar-brand{
  color: white;
}
.nav-link{
  color: white;
}
p{
  color: white;
}
form{
  color: white;
}
